name: sprint pre-merge check

on: 
  push:
    branches:
    - features/sprint*
  pull_request:
    branches:
    - features/sprint*

jobs:
  cmake-js-build:
    name: cmake-js build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        node: [8, 12, 13]
        exclude:
          - os: macos-latest
            node: 8
          - os: macos-latest
            node: 13

    steps:
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - uses: actions/checkout@v1
    - name: npm_install
      run: npm install
    - name: test_all
      run: npm run test
    - name: example
      run: npm run example
    - name: elements_example
      run: npm run elements_example
    - name: lint_check
      if: matrix.os == 'windows-latest'
      run: npm run lint_all

  doxygen-ubuntu:
    name: doxygen-ubuntu
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: install_doxygen
      run: sudo apt install doxygen graphviz
    - name: doxygen_check
      run: |
        cd doc
        doxygen Doxyfile_quiet_all
